agent/dify/AIserver/AIserver_main_imgenaration.yml
app:
  description: ''
  icon: sweat_smile
  icon_background: '#FFEAD5'
  mode: workflow
  name: AIserver_main_imgenaration
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/comfyui:0.0.4@8bb424227ceb2fef8f69c3505ab82b34d38a6291e385b482ab67a34c4cf2e656
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: spance/db_client_node:0.1.45@75fb10aa6bbe7482a547ab6af63c34583a7a925b7e5db85472973be36300290c
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: http-request
      id: 1758445877890-source-1758445984010-target
      source: '1758445877890'
      sourceHandle: source
      target: '1758445984010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: http-request
      id: 1758445762719-source-1758445984010-target
      source: '1758445762719'
      sourceHandle: source
      target: '1758445984010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 1758445984010-source-1758446701993-target
      source: '1758445984010'
      sourceHandle: source
      target: '1758446701993'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: http-request
      id: 1758446701993-source-1758446756266-target
      source: '1758446701993'
      sourceHandle: source
      target: '1758446756266'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1758446756266-source-1758446560540-target
      source: '1758446756266'
      sourceHandle: source
      target: '1758446560540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1758446756266-source-1758446500682-target
      source: '1758446756266'
      sourceHandle: source
      target: '1758446500682'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1758446560540-source-1758446798357-target
      source: '1758446560540'
      sourceHandle: source
      target: '1758446798357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1758446500682-source-1758446798357-target
      source: '1758446500682'
      sourceHandle: source
      target: '1758446798357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1758449305374-source-1758446416244-target
      source: '1758449305374'
      sourceHandle: source
      target: '1758446416244'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1758446416244-source-1758449545677-target
      source: '1758446416244'
      sourceHandle: source
      target: '1758449545677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1758446241706-source-1758449819434-target
      source: '1758446241706'
      sourceHandle: source
      target: '1758449819434'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1758449305374-source-1758449894119-target
      source: '1758449305374'
      sourceHandle: source
      target: '1758449894119'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1758449894119-source-1758446461620-target
      source: '1758449894119'
      sourceHandle: source
      target: '1758446461620'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1758449604916-source-1758445984010-target
      source: '1758449604916'
      sourceHandle: source
      target: '1758445984010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1758452155794-source-1758445877890-target
      source: '1758452155794'
      sourceHandle: source
      target: '1758445877890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1758452155794-source-1758446241706-target
      source: '1758452155794'
      sourceHandle: source
      target: '1758446241706'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1758444051415-source-1758452155794-target
      source: '1758444051415'
      sourceHandle: source
      target: '1758452155794'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1758452155794-source-1758460124916-target
      source: '1758452155794'
      sourceHandle: source
      target: '1758460124916'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1758460124916-source-1758445762719-target
      source: '1758460124916'
      sourceHandle: source
      target: '1758445762719'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1758449819434-source-1758449305374-target
      source: '1758449819434'
      sourceHandle: source
      target: '1758449305374'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 1758449545677-source-1758531045240-target
      source: '1758449545677'
      sourceHandle: source
      target: '1758531045240'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1758446461620-source-1758531045240-target
      source: '1758446461620'
      sourceHandle: source
      target: '1758531045240'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: http-request
      id: 1758531045240-source-1758449604916-target
      source: '1758531045240'
      sourceHandle: source
      target: '1758449604916'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1758444051415'
      position:
        x: -952.4507560077568
        y: 90.84659303533309
      positionAbsolute:
        x: -952.4507560077568
        y: 90.84659303533309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 图像提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Prompt
            ja_JP: Prompt
            pt_BR: Prompt
            zh_Hans: 提示词
          llm_description: Image prompt, you should describe the image you want to
            generate as a list of words as possible as detailed, the prompt must be
            written in English.
          max: null
          min: null
          name: positive_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 负面提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Negative Prompt
            ja_JP: Negative Prompt
            pt_BR: Negative Prompt
            zh_Hans: 负面提示词
          llm_description: Negative prompt, you should describe the image you don't
            want to generate as a list of words as possible as detailed, the prompt
            must be written in English.
          max: null
          min: null
          name: negative_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The input images
            ja_JP: The input images
            pt_BR: The input images
            zh_Hans: 输入的图片
          label:
            en_US: Input Images
            ja_JP: Input Images
            pt_BR: Input Images
            zh_Hans: 输入的图片
          llm_description: The input images, used to transfer to the comfyui workflow
            to generate another image.
          max: null
          min: null
          name: images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: exported from ComfyUI workflow
            ja_JP: exported from ComfyUI workflow
            pt_BR: exported from ComfyUI workflow
            zh_Hans: 从ComfyUI的工作流中导出
          label:
            en_US: Workflow JSON
            ja_JP: Workflow JSON
            pt_BR: Workflow JSON
            zh_Hans: Workflow JSON
          llm_description: ''
          max: null
          min: null
          name: workflow_json
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            ja_JP: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            pt_BR: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            zh_Hans: 当工作流有多个图片节点时，输入这些节点的ID列表，图片将按列表顺序传给ComfyUI
          label:
            en_US: Image Node ID List
            ja_JP: Image Node ID List
            pt_BR: Image Node ID List
            zh_Hans: 图片节点ID列表
          llm_description: ''
          max: null
          min: null
          name: image_ids
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            ja_JP: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            pt_BR: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            zh_Hans: 如果需要每次生成时使用不同的种子，需要输入包含种子的节点的ID
          label:
            en_US: Seed Node Id
            ja_JP: Seed Node Id
            pt_BR: Seed Node Id
            zh_Hans: 种子节点ID
          llm_description: ''
          max: null
          min: null
          name: seed_id
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          image_ids: ''
          images: ''
          negative_prompt: ''
          positive_prompt: ''
          seed_id: ''
          workflow_json: ''
        provider_id: langgenius/comfyui/comfyui
        provider_name: langgenius/comfyui/comfyui
        provider_type: builtin
        selected: false
        title: 定时生成带货动作
        tool_configurations:
          image_ids: null
          seed_id: null
          workflow_json: '1'
        tool_description: 运行ComfyUI工作流。
        tool_label: 工作流
        tool_name: workflow
        tool_parameters:
          positive_prompt:
            type: mixed
            value: ''
        type: tool
      height: 141
      id: '1758445762719'
      position:
        x: 134.90187070733464
        y: -187.21544660198202
      positionAbsolute:
        x: 134.90187070733464
        y: -187.21544660198202
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 图像提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Prompt
            ja_JP: Prompt
            pt_BR: Prompt
            zh_Hans: 提示词
          llm_description: Image prompt, you should describe the image you want to
            generate as a list of words as possible as detailed, the prompt must be
            written in English.
          max: null
          min: null
          name: positive_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 负面提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Negative Prompt
            ja_JP: Negative Prompt
            pt_BR: Negative Prompt
            zh_Hans: 负面提示词
          llm_description: Negative prompt, you should describe the image you don't
            want to generate as a list of words as possible as detailed, the prompt
            must be written in English.
          max: null
          min: null
          name: negative_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The input images
            ja_JP: The input images
            pt_BR: The input images
            zh_Hans: 输入的图片
          label:
            en_US: Input Images
            ja_JP: Input Images
            pt_BR: Input Images
            zh_Hans: 输入的图片
          llm_description: The input images, used to transfer to the comfyui workflow
            to generate another image.
          max: null
          min: null
          name: images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: exported from ComfyUI workflow
            ja_JP: exported from ComfyUI workflow
            pt_BR: exported from ComfyUI workflow
            zh_Hans: 从ComfyUI的工作流中导出
          label:
            en_US: Workflow JSON
            ja_JP: Workflow JSON
            pt_BR: Workflow JSON
            zh_Hans: Workflow JSON
          llm_description: ''
          max: null
          min: null
          name: workflow_json
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            ja_JP: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            pt_BR: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            zh_Hans: 当工作流有多个图片节点时，输入这些节点的ID列表，图片将按列表顺序传给ComfyUI
          label:
            en_US: Image Node ID List
            ja_JP: Image Node ID List
            pt_BR: Image Node ID List
            zh_Hans: 图片节点ID列表
          llm_description: ''
          max: null
          min: null
          name: image_ids
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            ja_JP: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            pt_BR: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            zh_Hans: 如果需要每次生成时使用不同的种子，需要输入包含种子的节点的ID
          label:
            en_US: Seed Node Id
            ja_JP: Seed Node Id
            pt_BR: Seed Node Id
            zh_Hans: 种子节点ID
          llm_description: ''
          max: null
          min: null
          name: seed_id
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          image_ids: ''
          images: ''
          negative_prompt: ''
          positive_prompt: ''
          seed_id: ''
          workflow_json: ''
        provider_id: langgenius/comfyui/comfyui
        provider_name: langgenius/comfyui/comfyui
        provider_type: builtin
        selected: false
        title: 不断生成待机动作
        tool_configurations:
          image_ids: null
          seed_id: null
          workflow_json: '1'
        tool_description: 运行ComfyUI工作流。
        tool_label: 工作流
        tool_name: workflow
        tool_parameters: {}
        type: tool
      height: 141
      id: '1758445877890'
      position:
        x: -184.2294438867975
        y: 41.16078370672753
      positionAbsolute:
        x: -184.2294438867975
        y: 41.16078370672753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 动作队列等待抓取
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758445984010'
      position:
        x: 751.6384534428619
        y: 41.16078370672753
      positionAbsolute:
        x: 751.6384534428619
        y: 41.16078370672753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 弹幕内容抓取
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758446241706'
      position:
        x: -184.2294438867975
        y: 249.14711408425114
      positionAbsolute:
        x: -184.2294438867975
        y: 249.14711408425114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: fa0d240c-2da6-478c-8d67-4bd68516840f
          role: system
          text: '1'
        selected: false
        title: 实时生成回复内容
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1758446416244'
      position:
        x: 459.45545750357473
        y: 255.97799929583044
      positionAbsolute:
        x: 459.45545750357473
        y: 255.97799929583044
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 图像提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Prompt
            ja_JP: Prompt
            pt_BR: Prompt
            zh_Hans: 提示词
          llm_description: Image prompt, you should describe the image you want to
            generate as a list of words as possible as detailed, the prompt must be
            written in English.
          max: null
          min: null
          name: positive_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 负面提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Negative Prompt
            ja_JP: Negative Prompt
            pt_BR: Negative Prompt
            zh_Hans: 负面提示词
          llm_description: Negative prompt, you should describe the image you don't
            want to generate as a list of words as possible as detailed, the prompt
            must be written in English.
          max: null
          min: null
          name: negative_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The input images
            ja_JP: The input images
            pt_BR: The input images
            zh_Hans: 输入的图片
          label:
            en_US: Input Images
            ja_JP: Input Images
            pt_BR: Input Images
            zh_Hans: 输入的图片
          llm_description: The input images, used to transfer to the comfyui workflow
            to generate another image.
          max: null
          min: null
          name: images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: exported from ComfyUI workflow
            ja_JP: exported from ComfyUI workflow
            pt_BR: exported from ComfyUI workflow
            zh_Hans: 从ComfyUI的工作流中导出
          label:
            en_US: Workflow JSON
            ja_JP: Workflow JSON
            pt_BR: Workflow JSON
            zh_Hans: Workflow JSON
          llm_description: ''
          max: null
          min: null
          name: workflow_json
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            ja_JP: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            pt_BR: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            zh_Hans: 当工作流有多个图片节点时，输入这些节点的ID列表，图片将按列表顺序传给ComfyUI
          label:
            en_US: Image Node ID List
            ja_JP: Image Node ID List
            pt_BR: Image Node ID List
            zh_Hans: 图片节点ID列表
          llm_description: ''
          max: null
          min: null
          name: image_ids
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            ja_JP: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            pt_BR: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            zh_Hans: 如果需要每次生成时使用不同的种子，需要输入包含种子的节点的ID
          label:
            en_US: Seed Node Id
            ja_JP: Seed Node Id
            pt_BR: Seed Node Id
            zh_Hans: 种子节点ID
          llm_description: ''
          max: null
          min: null
          name: seed_id
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          image_ids: ''
          images: ''
          negative_prompt: ''
          positive_prompt: ''
          seed_id: ''
          workflow_json: ''
        provider_id: langgenius/comfyui/comfyui
        provider_name: langgenius/comfyui/comfyui
        provider_type: builtin
        selected: false
        title: 实时反馈动作生成
        tool_configurations:
          image_ids: null
          seed_id: null
          workflow_json: '1'
        tool_description: 运行ComfyUI工作流。
        tool_label: 工作流
        tool_name: workflow
        tool_parameters: {}
        type: tool
      height: 141
      id: '1758446461620'
      position:
        x: 751.6384534428619
        y: 395.5914154984629
      positionAbsolute:
        x: 751.6384534428619
        y: 395.5914154984629
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 弹幕回复
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758446500682'
      position:
        x: 2062.8723378524733
        y: 216.92341218011114
      positionAbsolute:
        x: 2062.8723378524733
        y: 216.92341218011114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 动作反馈
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758446560540'
      position:
        x: 2055.1260099062347
        y: 41.16078370672753
      positionAbsolute:
        x: 2055.1260099062347
        y: 41.16078370672753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1758446416244'
          - text
      height: 108
      id: '1758446701993'
      position:
        x: 1234.0095560764105
        y: 41.16078370672753
      positionAbsolute:
        x: 1234.0095560764105
        y: 41.16078370672753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 内容抓取
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758446756266'
      position:
        x: 1624.6997096000719
        y: 41.16078370672753
      positionAbsolute:
        x: 1624.6997096000719
        y: 41.16078370672753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs: []
        selected: false
        title: 结束
        type: end
      height: 53
      id: '1758446798357'
      position:
        x: 2398.147272131682
        y: 41.16078370672753
      positionAbsolute:
        x: 2398.147272131682
        y: 41.16078370672753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 上下文更新
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758449305374'
      position:
        x: 134.90187070733464
        y: 282
      positionAbsolute:
        x: 134.90187070733464
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 回复内容读取
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758449545677'
      position:
        x: 751.6384534428619
        y: 255.97799929583044
      positionAbsolute:
        x: 751.6384534428619
        y: 255.97799929583044
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 队列插入
        type: http-request
        url: '1'
        variables: []
      height: 123
      id: '1758449604916'
      position:
        x: 1432.225391597736
        y: 340.99473011480717
      positionAbsolute:
        x: 1432.225391597736
        y: 340.99473011480717
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 4a453a07-14c5-4578-b718-47d9354393a8
          role: system
          text: '1'
        selected: false
        title: 实时语音读取弹幕
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1758449819434'
      position:
        x: -156.93110119496964
        y: 466.0305300023882
      positionAbsolute:
        x: -156.93110119496964
        y: 466.0305300023882
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a434e8e7-1c83-4926-9915-c751b5b1bb7d
          role: system
          text: '1'
        selected: false
        title: 标签化生成prompt
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1758449894119'
      position:
        x: 459.45545750357473
        y: 395.5914154984629
      positionAbsolute:
        x: 459.45545750357473
        y: 395.5914154984629
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e6265dd6-0b9d-457f-b33e-f41aac4bab23
          role: system
          text: '1'
        selected: true
        title: 开始运行
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1758452155794'
      position:
        x: -607.0348609866116
        y: 90.84659303533309
      positionAbsolute:
        x: -607.0348609866116
        y: 90.84659303533309
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema:
          properties:
            affected_rows:
              type: number
            columns:
              items:
                type: string
              type: array
            data:
              items:
                type: object
              type: array
          type: object
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The SQL query to execute (allow literal arg, or `$arg0~N` as parameters)
            ja_JP: The SQL query to execute (allow literal arg, or `$arg0~N` as parameters)
            pt_BR: The SQL query to execute (allow literal arg, or `$arg0~N` as parameters)
            zh_Hans: 要执行的SQL查询（参数使用变量`$arg0~N`表示，或使用字面值）
          label:
            en_US: SQL Query
            ja_JP: SQL Query
            pt_BR: SQL Query
            zh_Hans: SQL查询
          llm_description: ''
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Enter the parameter corresponding to the SQL variables.
            ja_JP: Enter the parameter corresponding to the SQL variables.
            pt_BR: Enter the parameter corresponding to the SQL variables.
            zh_Hans: 输入变量对应的参数。
          label:
            en_US: arg0
            ja_JP: arg0
            pt_BR: arg0
            zh_Hans: 参数0
          llm_description: ''
          max: null
          min: null
          name: arg0
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Enter the parameter corresponding to the SQL variables.
            ja_JP: Enter the parameter corresponding to the SQL variables.
            pt_BR: Enter the parameter corresponding to the SQL variables.
            zh_Hans: 输入变量对应的参数。
          label:
            en_US: arg1
            ja_JP: arg1
            pt_BR: arg1
            zh_Hans: 参数1
          llm_description: ''
          max: null
          min: null
          name: arg1
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Enter the parameter corresponding to the SQL variables.
            ja_JP: Enter the parameter corresponding to the SQL variables.
            pt_BR: Enter the parameter corresponding to the SQL variables.
            zh_Hans: 输入变量对应的参数。
          label:
            en_US: arg2
            ja_JP: arg2
            pt_BR: arg2
            zh_Hans: 参数2
          llm_description: ''
          max: null
          min: null
          name: arg2
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Enter the parameter corresponding to the SQL variables.
            ja_JP: Enter the parameter corresponding to the SQL variables.
            pt_BR: Enter the parameter corresponding to the SQL variables.
            zh_Hans: 输入变量对应的参数。
          label:
            en_US: arg3
            ja_JP: arg3
            pt_BR: arg3
            zh_Hans: 参数3
          llm_description: ''
          max: null
          min: null
          name: arg3
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Enter the parameter corresponding to the SQL variables.
            ja_JP: Enter the parameter corresponding to the SQL variables.
            pt_BR: Enter the parameter corresponding to the SQL variables.
            zh_Hans: 输入变量对应的参数。
          label:
            en_US: arg4
            ja_JP: arg4
            pt_BR: arg4
            zh_Hans: 参数4
          llm_description: ''
          max: null
          min: null
          name: arg4
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          arg0: ''
          arg1: ''
          arg2: ''
          arg3: ''
          arg4: ''
          query: ''
        provider_id: spance/db_client_node/db_client_node
        provider_name: spance/db_client_node/db_client_node
        provider_type: builtin
        selected: false
        title: 商品信息调出
        tool_configurations: {}
        tool_description: 读写PostgreSQL客户端，最多5个参数。
        tool_label: PostgreSQL 客户端(5)
        tool_name: postgres_node_5
        tool_parameters:
          query:
            type: mixed
            value: '1'
        type: tool
      height: 53
      id: '1758460124916'
      position:
        x: -184.2294438867975
        y: -187.21544660198202
      positionAbsolute:
        x: -184.2294438867975
        y: -187.21544660198202
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: any
        selected: false
        title: 变量聚合器 2
        type: variable-aggregator
        variables: []
      height: 108
      id: '1758531045240'
      position:
        x: 1025.306961563053
        y: 387.9199889729984
      positionAbsolute:
        x: 1025.306961563053
        y: 387.9199889729984
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 138.07125830727807
      y: 256.8028521923798
      zoom: 0.7590237806090824
